@font-face {
  font-family: "AkzidenzGrotesk";
  src: url('../fonts/akzidenzgroteskroman.eot?48406661&1401293214');
  src: url('../fonts/akzidenzgroteskroman.eot?48406661?&1401293214#iefix') format('embedded-opentype'), url('../fonts/akzidenzgroteskroman.eot?48406661&1401293214#iefix') format('embedded-opentype'), url('../fonts/akzidenzgroteskroman.woff?48406661&1401293214') format('woff'), url('../fonts/akzidenzgroteskroman.ttf?48406661&1401293214') format('truetype'), url('../fonts/akzidenzgroteskroman.svg?48406661&1401293214#akzidenzgroteskroman') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: "AkzidenzGrotesk";
  src: url('../fonts/bertholdakzidenzgroteskbemedium.eot?48406661&1401293216');
  src: url('../fonts/bertholdakzidenzgroteskbemedium.eot?48406661?&1401293216#iefix') format('embedded-opentype'), url('../fonts/bertholdakzidenzgroteskbemedium.eot?48406661&1401293216#iefix') format('embedded-opentype'), url('../fonts/bertholdakzidenzgroteskbemedium.woff?48406661&1401293216') format('woff'), url('../fonts/bertholdakzidenzgroteskbemedium.ttf?48406661&1401293216') format('truetype'), url('../fonts/bertholdakzidenzgroteskbemedium.svg?48406661&1401293216#bertholdakzidenzgroteskbemedium') format('svg');
  font-weight: 500;
}
@font-face {
  font-family: "AkzidenzGrotesk";
  src: url('../fonts/akzidenzgrotesklight.ttf?48406661&1401293214') format('truetype');
  font-weight: 100;
}
/* line 11, ../bower_components/bootstrap-sass-dry/bootstrap/_scaffolding.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../bower_components/bootstrap-sass-dry/bootstrap/_scaffolding.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../bower_components/bootstrap-sass-dry/bootstrap/_scaffolding.scss */
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

/* line 27, ../bower_components/bootstrap-sass-dry/bootstrap/_scaffolding.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  color: #333333;
  background-color: white;
}

/* line 36, ../bower_components/bootstrap-sass-dry/bootstrap/_scaffolding.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 48, ../bower_components/bootstrap-sass-dry/bootstrap/_scaffolding.scss */
a {
  color: #f15a38;
  text-decoration: none;
}
/* line 52, ../bower_components/bootstrap-sass-dry/bootstrap/_scaffolding.scss */
a:hover, a:focus {
  color: #f15a38;
  text-decoration: underline;
}
/* line 58, ../bower_components/bootstrap-sass-dry/bootstrap/_scaffolding.scss */
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 69, ../bower_components/bootstrap-sass-dry/bootstrap/_scaffolding.scss */
figure {
  margin: 0;
}

/* line 76, ../bower_components/bootstrap-sass-dry/bootstrap/_scaffolding.scss */
img {
  vertical-align: middle;
}

/* line 113, ../bower_components/bootstrap-sass-dry/bootstrap/_scaffolding.scss */
hr {
  margin-top: 22px;
  margin-bottom: 22px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

/* line 9, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
/* line 16, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

/* line 24, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
h1,
h2,
h3 {
  margin-top: 22px;
  margin-bottom: 11px;
}
/* line 30, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
h1 small,
h2 small,
h3 small {
  font-size: 65%;
}

/* line 35, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
h4,
h5,
h6 {
  margin-top: 11px;
  margin-bottom: 11px;
}
/* line 41, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
h4 small,
h5 small,
h6 small {
  font-size: 75%;
}

/* line 47, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
h1 {
  font-size: 41px;
}

/* line 48, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
h2 {
  font-size: 34px;
}

/* line 49, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
h3 {
  font-size: 28px;
}

/* line 50, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
h4 {
  font-size: 20px;
}

/* line 51, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
h5 {
  font-size: 16px;
}

/* line 52, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
h6 {
  font-size: 14px;
}

/* line 58, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
p {
  margin: 0 0 11px;
}

/* line 78, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
small {
  font-size: 85%;
}

/* line 84, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
cite {
  font-style: normal;
}

/* line 88, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
mark {
  background-color: #fcf8e3;
  padding: .2em;
}

/* line 148, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
ul,
ol {
  margin-top: 0;
  margin-bottom: 11px;
}
/* line 152, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

/* line 179, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
dl {
  margin-top: 0;
  margin-bottom: 22px;
}

/* line 183, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
dt,
dd {
  line-height: 1.42857;
}

/* line 187, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
dt {
  font-weight: bold;
}

/* line 190, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
dd {
  margin-left: 0;
}

/* line 223, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

/* line 235, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
blockquote {
  padding: 11px 22px;
  margin: 0 0 22px;
  font-size: 20px;
  border-left: 5px solid #eeeeee;
}
/* line 244, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
/* line 251, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
blockquote footer,
blockquote small {
  display: block;
  font-size: 80%;
  line-height: 1.42857;
  color: #999999;
}
/* line 259, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
blockquote footer:before,
blockquote small:before {
  content: '\2014 \00A0';
}

/* line 288, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
blockquote:before,
blockquote:after {
  content: "";
}

/* line 294, ../bower_components/bootstrap-sass-dry/bootstrap/_type.scss */
address {
  margin-bottom: 22px;
  font-style: normal;
  line-height: 1.42857;
}

/* line 7, ../bower_components/bootstrap-sass-dry/bootstrap/_code.scss */
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* line 15, ../bower_components/bootstrap-sass-dry/bootstrap/_code.scss */
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 0;
}

/* line 24, ../bower_components/bootstrap-sass-dry/bootstrap/_code.scss */
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: white;
  background-color: #333333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 34, ../bower_components/bootstrap-sass-dry/bootstrap/_code.scss */
pre {
  display: block;
  padding: 10.5px;
  margin: 0 0 11px;
  font-size: 15px;
  line-height: 1.42857;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: whitesmoke;
  border: 1px solid #cccccc;
  border-radius: 0;
}
/* line 48, ../bower_components/bootstrap-sass-dry/bootstrap/_code.scss */
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

/* line 6, ../bower_components/bootstrap-sass-dry/bootstrap/_tables.scss */
table {
  max-width: 100%;
  background-color: transparent;
}

/* line 10, ../bower_components/bootstrap-sass-dry/bootstrap/_tables.scss */
th {
  text-align: left;
}

/* line 17, ../bower_components/bootstrap-sass-dry/bootstrap/_tables.scss */
.entry-content table {
  width: 100%;
  margin-bottom: 22px;
}
/* line 25, ../bower_components/bootstrap-sass-dry/bootstrap/_tables.scss */
.entry-content table > thead > tr > th,
.entry-content table > thead > tr > td,
.entry-content table > tbody > tr > th,
.entry-content table > tbody > tr > td,
.entry-content table > tfoot > tr > th,
.entry-content table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
/* line 35, ../bower_components/bootstrap-sass-dry/bootstrap/_tables.scss */
.entry-content table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
/* line 44, ../bower_components/bootstrap-sass-dry/bootstrap/_tables.scss */
.entry-content table > caption + thead > tr:first-child > th,
.entry-content table > caption + thead > tr:first-child > td,
.entry-content table > colgroup + thead > tr:first-child > th,
.entry-content table > colgroup + thead > tr:first-child > td,
.entry-content table > thead:first-child > tr:first-child > th,
.entry-content table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
/* line 51, ../bower_components/bootstrap-sass-dry/bootstrap/_tables.scss */
.entry-content table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
/* line 56, ../bower_components/bootstrap-sass-dry/bootstrap/_tables.scss */
.entry-content table table {
  background-color: white;
}

/* line 135, ../bower_components/bootstrap-sass-dry/bootstrap/_tables.scss */
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}

/* line 143, ../bower_components/bootstrap-sass-dry/bootstrap/_tables.scss */
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}

/* line 9, ../bower_components/bootstrap-sass-dry/bootstrap/mixins/_table-row.scss */
.entry-content table > thead > tr > td.active,
.entry-content table > thead > tr > th.active, .entry-content table > thead > tr.active > td, .entry-content table > thead > tr.active > th,
.entry-content table > tbody > tr > td.active,
.entry-content table > tbody > tr > th.active,
.entry-content table > tbody > tr.active > td,
.entry-content table > tbody > tr.active > th,
.entry-content table > tfoot > tr > td.active,
.entry-content table > tfoot > tr > th.active,
.entry-content table > tfoot > tr.active > td,
.entry-content table > tfoot > tr.active > th {
  background-color: whitesmoke;
}

/* line 9, ../bower_components/bootstrap-sass-dry/bootstrap/mixins/_table-row.scss */
.entry-content table > thead > tr > td.success,
.entry-content table > thead > tr > th.success, .entry-content table > thead > tr.success > td, .entry-content table > thead > tr.success > th,
.entry-content table > tbody > tr > td.success,
.entry-content table > tbody > tr > th.success,
.entry-content table > tbody > tr.success > td,
.entry-content table > tbody > tr.success > th,
.entry-content table > tfoot > tr > td.success,
.entry-content table > tfoot > tr > th.success,
.entry-content table > tfoot > tr.success > td,
.entry-content table > tfoot > tr.success > th {
  background-color: #dff0d8;
}

/* line 9, ../bower_components/bootstrap-sass-dry/bootstrap/mixins/_table-row.scss */
.entry-content table > thead > tr > td.info,
.entry-content table > thead > tr > th.info, .entry-content table > thead > tr.info > td, .entry-content table > thead > tr.info > th,
.entry-content table > tbody > tr > td.info,
.entry-content table > tbody > tr > th.info,
.entry-content table > tbody > tr.info > td,
.entry-content table > tbody > tr.info > th,
.entry-content table > tfoot > tr > td.info,
.entry-content table > tfoot > tr > th.info,
.entry-content table > tfoot > tr.info > td,
.entry-content table > tfoot > tr.info > th {
  background-color: #d9edf7;
}

/* line 9, ../bower_components/bootstrap-sass-dry/bootstrap/mixins/_table-row.scss */
.entry-content table > thead > tr > td.warning,
.entry-content table > thead > tr > th.warning, .entry-content table > thead > tr.warning > td, .entry-content table > thead > tr.warning > th,
.entry-content table > tbody > tr > td.warning,
.entry-content table > tbody > tr > th.warning,
.entry-content table > tbody > tr.warning > td,
.entry-content table > tbody > tr.warning > th,
.entry-content table > tfoot > tr > td.warning,
.entry-content table > tfoot > tr > th.warning,
.entry-content table > tfoot > tr.warning > td,
.entry-content table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}

/* line 9, ../bower_components/bootstrap-sass-dry/bootstrap/mixins/_table-row.scss */
.entry-content table > thead > tr > td.danger,
.entry-content table > thead > tr > th.danger, .entry-content table > thead > tr.danger > td, .entry-content table > thead > tr.danger > th,
.entry-content table > tbody > tr > td.danger,
.entry-content table > tbody > tr > th.danger,
.entry-content table > tbody > tr.danger > td,
.entry-content table > tbody > tr.danger > th,
.entry-content table > tfoot > tr > td.danger,
.entry-content table > tfoot > tr > th.danger,
.entry-content table > tfoot > tr.danger > td,
.entry-content table > tfoot > tr.danger > th {
  background-color: #f2dede;
}

/* line 10, ../bower_components/bootstrap-sass-dry/bootstrap/_forms.scss */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

/* line 20, ../bower_components/bootstrap-sass-dry/bootstrap/_forms.scss */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

/* line 32, ../bower_components/bootstrap-sass-dry/bootstrap/_forms.scss */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

/* line 47, ../bower_components/bootstrap-sass-dry/bootstrap/_forms.scss */
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 52, ../bower_components/bootstrap-sass-dry/bootstrap/_forms.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

/* line 60, ../bower_components/bootstrap-sass-dry/bootstrap/_forms.scss */
input[type="file"] {
  display: block;
}

/* line 65, ../bower_components/bootstrap-sass-dry/bootstrap/_forms.scss */
input[type="range"] {
  display: block;
  width: 100%;
}

/* line 71, ../bower_components/bootstrap-sass-dry/bootstrap/_forms.scss */
select[multiple],
select[size] {
  height: auto;
}

/* line 77, ../bower_components/bootstrap-sass-dry/bootstrap/_forms.scss */
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 84, ../bower_components/bootstrap-sass-dry/bootstrap/_forms.scss */
output {
  display: block;
  padding-top: 7px;
  font-size: 16px;
  line-height: 1.42857;
  color: #555555;
}

/* line 165, ../bower_components/bootstrap-sass-dry/bootstrap/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
}

/* line 176, ../bower_components/bootstrap-sass-dry/bootstrap/_forms.scss */
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: 36px;
  line-height: 1.42857 \0;
}
/* line 258, ../bower_components/bootstrap-sass-dry/bootstrap/_forms.scss */
input[type="radio"][disabled], fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled], fieldset[disabled]
input[type="checkbox"] {
  cursor: not-allowed;
}

@-ms-viewport {
  width: device-width;
}
@font-face {
  font-family: "workspring";
  src: url('../fonts/workspring.eot?48406661&1402365342');
  src: url('../fonts/workspring.eot?48406661?&1402365342#iefix') format('embedded-opentype'), url('../fonts/workspring.eot?48406661&1402365342#iefix') format('embedded-opentype'), url('../fonts/workspring.woff?48406661&1402365342') format('woff'), url('../fonts/workspring.ttf?48406661&1402365342') format('truetype'), url('../fonts/workspring.svg?48406661&1402365342#workspring') format('svg');
}
/* line 1, ../sass/global/_type.scss */
h2 {
  font-family: "Archer SSm A", "Archer SSm B", Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
}
@media (max-width: 767px) {
  /* line 1, ../sass/global/_type.scss */
  h2 {
    font-size: 1.75em;
  }
}

/* line 10, ../sass/global/_type.scss */
.gray {
  color: #999;
}

/* line 20, ../sass/global/_type.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #333;
}

/* line 25, ../sass/global/_type.scss */
p {
  line-height: 1.5em;
  letter-spacing: 0.02em;
  font-weight: 200;
}
@media (max-width: 767px) {
  /* line 25, ../sass/global/_type.scss */
  p {
    font-size: 0.875em;
  }
}

/* line 36, ../sass/global/_type.scss */
.medium-heading,
h3 {
  font-family: "AkzidenzGrotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 41, ../sass/global/_type.scss */
blockquote {
  padding: 0;
  border: none;
  font-family: "Archer SSm A", "Archer SSm B", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 1.1em;
  line-height: 1.7em;
  color: #999;
}

/* line 57, ../sass/global/_type.scss */
.large-heading, .wysiwyg h3 {
  font-size: 2em;
  line-height: 1.25em;
  font-family: "Archer SSm A", "Archer SSm B", Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
}
@media (max-width: 767px) {
  /* line 57, ../sass/global/_type.scss */
  .large-heading, .wysiwyg h3 {
    font-size: 1.75em;
  }
}

/* line 77, ../sass/global/_type.scss */
.small-heading, .wysiwyg h4 {
  font-size: 0.875em;
  line-height: 1.71429em;
  text-transform: uppercase;
  font-weight: 500;
}

/* line 91, ../sass/global/_type.scss */
.medium-heading {
  font-size: 1.5em;
  line-height: 1.25em;
  letter-spacing: 0.04em;
  font-weight: 100;
}

/* line 110, ../sass/global/_type.scss */
.wysiwyg li {
  font-weight: 200;
}

/* line 12, ../sass/global/_content.scss */
img.size-full,
img.size-large,
.wp-post-image,
.post-thumbnail img,
.wp-caption,
.comment-content img[height],
.entry-content img,
.entry-summary img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 29, ../sass/global/_content.scss */
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 33, ../sass/global/_content.scss */
.alignleft {
  float: left;
}
/* line 36, ../sass/global/_content.scss */
.alignleft.wp-caption {
  margin: 7px 14px 7px 0;
}

/* line 44, ../sass/global/_content.scss */
blockquote.alignleft,
figure.wp-caption.alignleft,
img.alignleft {
  margin: 7px 24px 7px 0;
}

/* line 49, ../sass/global/_content.scss */
.alignright {
  float: right;
}
/* line 52, ../sass/global/_content.scss */
.alignright.wp-caption {
  margin: 7px 0 7px 14px;
}

/* line 60, ../sass/global/_content.scss */
blockquote .aligncenter,
img .aligncenter,
.wp-caption .aligncenter {
  margin-top: 7px;
  margin-bottom: 7px;
}

/* line 67, ../sass/global/_content.scss */
.site-content blockquote.alignleft, .site-content blockquote.alignright {
  padding-top: 17px;
  width: 50%;
}
/* line 72, ../sass/global/_content.scss */
.site-content blockquote.alignleft p, .site-content blockquote.alignright p {
  margin-bottom: 17px;
}

/* line 78, ../sass/global/_content.scss */
.wp-caption {
  margin-bottom: 24px;
}
