/*
 * Theme Name: Workspring
 */

.post-sharing .sharing-item.linkedin a:before {
  font-family: "workspring";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  width: 1em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}

.post-sharing .sharing-item.linkedin a:before {
  content: "\e80b";
}
/*.page-id-3891 .page-header::before{background: none;} */
.page-template-contact .page-header::before{background: none;}
