<div class="dropdowns">
    <div class="dropdown" data-selects="location">
        <a href="javascript:void(0)" class="dropdown-selected btn btn-default" data-toggle="dropdown">
            Location
        </a>
        <ul class="dropdown-menu"></ul>
    </div>

    <div class="variables"></div>
</div>

<div class="price-amount"></div>

<a href="javascript:void(0)" class="calculator-action"
    data-action="email" modal modal-iframe>
    Email Estimate
</a>

<div class="ctas"></div>
