<a href="javascript:void(0)" class="dropdown-selected btn btn-default" data-toggle="dropdown">
    <%= type %>
</a>
<ul class="dropdown-menu">
    <% _.each(options, function (option) { %>
    <li class="dropdown-item" data-value="<%= option.slug %>">
        <a href="javascript:void(0);"><%= option.label %></a>
    </li>
    <% }); %>
</ul>
