$base-border-color: #dcdcdc
$base-border-radius: 3px
$base-background-color: #fff
$base-font-size: 1em
$base-line-height: 1.5em
$action-color: #477dca
$dark-gray: #333
$light-gray: #ddd
$medium-screen: 40em
$large-screen: 53.75em
$base-font-color: $dark-gray
$modal-padding: 3em
$modal-background: transparent
$modal-close-color: $yellow
$modal-image-height: 135px
$modal-image-width: $modal-image-height
$modal-trigger-image-width: 300px

//html
//	+fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont)

// body
// 	line-height: $baseline
// 	padding: $baseline 0
// 	margin: 0 auto
.page-template-page-tdaLander .header-bottom-main img
  width: auto

#lander_wrapper
  //VIDEO SECTION
  .video_section
    .headline
      +span-columns(10)
      +shift(1)
      height: 100%
      margin-bottom: 10px
      +media($md)
        +span-columns(10)
        +shift(1)
      h2
        font-family: $archerP
      p
        font-family: $akzRegular
    .videos
      +span-columns(10)
      +shift(1)
      .desktop
        display: block
        +media($md)
          display: block
      .select-video
        +margin(10px null 20px null)
        background-color: $blue
        color: $white
        min-height: 200px
        +media($sm)
          +margin(15px null 15px null)
          min-height: 400px
        +media($md)
          +span-columns(4 of 12)
          +shift(0)
          +omega(3n)
          margin-bottom: 35px
          min-height: 300px
          text-align: center
          margin-right: 4.98689%
          width: 30.00874%
          position: relative
        .tda-modal
          .video-tda-modal
            cursor: pointer
            +media($md)
              margin-top: 50px
          .tda-modal-state
            display: none
          .tda-modal-trigger
            text-align: center
            +media($md)
              margin-bottom: 3em
          label
            display: block
          h4
            +fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont)
            font-size: 1.5rem
            line-height: 4vh
            margin-top: calc((#{$baseline} - #{$h4}) + #{$baseline})
            text-align: center
            font-family: $archerP
            font-weight: bold
            padding-top: 60px
            font-weight: bold
            +margin(null 10px)
            +media($sm)
              font-size: $h4
              line-height: $h4
              line-height: 4vh
              padding-top: 100px
            +media($md)
              padding-top: 0
          img
            position: relative
            width: 140px
            +media($md)
              position: absolute
              left: 0
              right: 0
              bottom: 40px
              margin: auto

      .button
        +span-columns(5)
        +shift(1)
        padding-top: 5px
        padding-bottom: 5px
        text-align: center
        font-size: 16px
        background-color: $yellow
        text-transform: uppercase
        +media($sm)
          font-size: 20px
        +media($md)
          +span-columns(3)
          +shift(3)
          +margin(30px null)
          +padding(5px null)
      .button:last-child
        margin-left: 0
        background-color: $blue
      .aButton
        font-family: $akzRegular
        color: $white
        text-decoration: none
  //ABOUT SECTION

  .about_section
    position: relative
    .line-top
      +span-columns(10)
      +shift(1)
      +margin(30px null 30px null)
      border: solid black 1px
      +media($md)
        +span-columns(10)
        border: solid black 1px
        +margin(30px null 60px null)
    .line-bottom
      +span-columns(10)
      +shift(1)
      +margin(30px null 30px null)
      border: solid black 1px
      +media($md)
        +span-columns(10)
        +margin(30px null 60px null)
        border: solid black 1px
    .presenter
      +span-columns(10)
      +shift(1)
      .image
        +span-columns(12)
        +media($md)
          +span-columns(4 of 12)
          margin-bottom: 30px
      .text-wrapper
        width: 100%
        +media($md)
          +span-columns(8)
        h2
          margin-top: 15px
          font-family: $archerP
          +media($md)
            margin-top: 0px
        p
          font-family: $akzRegular
        .aButton
          +span-columns(5)
          +shift(7)
          +padding(6px null 5px null)
          text-transform: uppercase
          font-family: $akzRegular
          font-size: 14px
          background-color: $blue
          color: $white
          text-align: center
          text-decoration: none
          +media($sm)
            +span-columns(4)
            +shift(8)
          +media($md)
            +shift(5.2)
            position: absolute
            bottom: 122px
            width: 125px
  //INFO SECTION

  .info_section
    .researchHero
      +span-columns(10)
      +shift(1)
      height: 80px
      background-color: $yellow
      color: $white
      margin-bottom: 30px
      +media($md)
        height: 200px
        margin-bottom: 60px
      p
        font-size: 4rem
        text-align: center
        margin-top: 8px
        font-family: $archerBold
        font-weight: bold
        +media($md)
          +shift(1)
          font-size: 5em
          line-height: 2.5em
          text-align: left
    .research_headline
      +span-columns(10)
      +shift(1)
      height: 100%
      margin-bottom: 10px
      +media($md)
        +span-columns(10)
        +shift(1)
      p
        font-family: $akzRegular
    .innovation
      +span-columns(10)
      +shift(1)
      position: relative
      margin-bottom: 60px
      .image
        +span-columns(12)
        +media($md)
          +span-columns(4 of 12)
      .text-wrapper
        width: 100%
        +media($md)
          width: 64.00437%
        p
          // font-size: .525rem
          // font-family: $akzRegular
          // +media($md)
          //   font-size: .425rem
          // +media($mdhg)
          //   font-size: .5rem
          // +media($hg)
          //   font-size: .525rem
        h2
          font-family: $archerP
          margin-top: 15px
          +media($md)
            margin-top: 0px
      .buttonWrapper
        display: block
        .button
          font-size: 14px
          .aButton
            +span-columns(5)
            +shift(.5)
            +padding(6px null 5px null)
            font-family: $akzRegular
            background-color: $blue
            color: $white
            text-align: center
            text-decoration: none
            text-transform: uppercase
            +media($sm)
              +span-columns(4)
              +shift(.2)
            +media($md)
              position: absolute
              right: 0
              bottom: 0
              width: 125px
        .button-read
          font-size: 14px
          .aButton
            +span-columns(5)
            +shift(1)
            +padding(6px null 5px null)
            font-family: $akzRegular
            background-color: $orange
            color: $white
            text-align: center
            text-decoration: none
            text-transform: uppercase
            +media($sm)
              +span-columns(4)
              +shift(4)
            +media($md)
              position: absolute
              right: 140px
              bottom: 0
              width: 125px

//MODAL STYLES

.tda-modal-fade
  +position(fixed, 0)
  background-color: rgba(154, 197, 202, 0.85)
  opacity: 0
  padding-top: 0.6em
  text-align: left
  transition: opacity 0.25s ease
  visibility: hidden
  z-index: 99999999999
  +media($large-screen)
    padding-top: 10em
  .modal-bg
    +position(absolute, 0)
    cursor: pointer
.tda-modal-close
  +position(absolute, ($modal-padding /2) ($modal-padding /2) null null)
  +size(1.5em)
  cursor: pointer
  border-radius: 50%
  padding: 12px
  top: 2em
  width: 0
  height: 0
  right: 2em
  background-color: #612603
  &::after,
  &::before
    +position(absolute, 4px 3px 0 50%)
    +size(0.15em 1.35em)
    background: $modal-close-color
    content: ""
    display: block
    margin: -3px 0 0 -1px
    transform: rotate(45deg)
  &:hover::after,
  &:hover::before
    background: darken($modal-close-color, 10%)
  &::before
    transform: rotate(-45deg)
.tda-modal-inner
  background: $modal-background
  border-radius: $base-border-radius
  margin: auto
  margin-top: 0
  max-height: 95%
  overflow: inherit
  padding: $modal-padding / 2
  position: relative
  transition: opacity 0.25s ease
  width: 95%
  +media($medium-screen)
    max-height: 70%
    padding: $modal-padding
    width: 60%
  +media($large-screen)
    width: 50%
    h1
      color: $base-font-color
      text-align: left
      text-transform: capitalize
    p
      color: $base-font-color
      line-height: $base-line-height
  .aButton
    display: none
    +media($md)
      +padding(5px 10px)
      position: absolute
      font-size: 1.5em
      border-radius: 1px
      display: inline-block
      background-color: $orange
      box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75)
      margin-left: 35%
      margin-top: 11px
    .tda-modal-intro
      margin-bottom: 1em
    .tda-modal-content
      color: $base-font-color
      +media($medium-screen)
        columns: 2 8em
    .aButton, .cta
      color: $base-background-color
      display: inline-block
      margin-right: 0.5em
      margin-top: 1em
      &:last-child
        padding: 0 2em
  iframe
    height: 59vh
    width: 100%

.tda-modal-open
  overflow: hidden
  #videos
    .video-modals
      .tda-modal-fade
        opacity: 1
        visibility: visible
        .tda-modal-inner
          top: 0.5em
.slick-dots
  bottom: -40px
  right: -38%
  li button:before
    background-color: $yellow
    border: 2px solid rgba(0, 0, 0, 0.25)
  li:hover button:before
    background-color: $orange
  li.slick-active button:before
    background-color: $orange

.slick-next, .slick-prev
  width: 78px
  height: 116px
  top: 210px

.slick-prev
  background-image: url("../../assets/images/left-modal-arrow.png")
  background-repeat: no-repeat
  left: -200px
  opacity: 1

.slick-prev:before
  content: " "
.slick-next
  background-image: url("../../assets/images/right-modal-arrow.png")
  background-repeat: no-repeat
  right: -200px
  opacity: 1
.slick-next:before
  content: " "
.slick-list
  box-shadow: 0px 0px 24px $black

.video-slide,
.slick-slide
    line-height: 0.42857
#gform_ajax_spinner_8
  width: 20px
